@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ul class="list-group">
        @foreach (var product in Model.Products)
        {
            <li class="list-group-item"><a asp-page="ProductDetail" asp-route-categoryId="@product.CategoryId" asp-route-productId="@product.Id">@product.Name</a></li>
        }
    </ul>
</div>
